@import url(https://fonts.bunny.net/css?family=open-sans:300);


body {
    width: 900px;
    background-color: #2f3848;
    margin: auto;
}

nav{
    position: relative;
    top: 10px;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: yellowgreen;
    text-decoration: none;
}
header{
    background-color: #f05768;
    padding: 0.1vh;


}

.header-titre {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.description-titre {
    font-family: 'Open Sans', sans-serif;
    color: #00ccff;

}

.description-paragraphe {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}


.photo-milieu{
    position: relative;
    top: 10px;
}

.Titre-photo-milieu {
    display: inline;
    background-color: #f05768;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0.9vh;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    }
    
.caméléon1 {
    position: relative;
    width: 900px;
    height: 470px;
    left: 0%;
    }
    
    
.photo {
    width: 620px;
    padding: 0px;
    position: relative;
    top: 20px;
    display: flex; 
    }
    
    
.photo_cameleon{
    width: 100px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 0px;
    }
    
.photo1{
    width: 260px;
    }
    
 
.newsletter{
    border: 1px solid;
    background-color: #004488;
    color: #9ACD32;
    padding: 1em;
    position: absolute;
    right: 213px;
    top: 58.5em;
    width: 231px
}

h3{
    color: #00CCFF;
}

span{
    text-decoration: underline;
}

.footer{
    text-align: center;
    color: #00ccff;
    font-family: 'Open Sans', sans-serif;
}